<header class="sticky top-0 mx-2 md:mx-10 py-5 z-20">
  <nav class="backdrop-blur-lg backdrop-brightness-150 rounded-lg
    py-3 px-10 w-full flex justify-between">

    <div class="flex flex-row gap-6 items-center">
      <img class="w-12 inline" [src]="urlLogo" alt="Wow icon" />

      <div class="font-sans text-gray-300 font-medium w-auto hidden lg:inline">
        <ul class="flex flex-row gap-2">
          <li *ngFor="let section of listSectionObject" class="hover:bg-white hover:bg-opacity-5 rounded-lg py-2 px-3">
            <button (click)="scrollToElement(section.id, 100)" class="text-gray-300 text-lg rounded-lg px-4 py-2">
              {{section.name}}
            </button>
          </li>
        </ul>
      </div>

    </div>

    <div class="flex flex-row gap-5 font-sans font-medium text-lg">
      <button class="hover:bg-white hover:bg-opacity-5 text-gray-300 rounded-lg px-4 py-2">Identificate</button>
      <button
        class=" hover:bg-gray-100 bg-gray-300 text-black border border-gray-300 rounded-lg px-4 py-2 ">Registrate</button>
    </div>

  </nav>
</header>