<app-header></app-header>

<div class="flex flex-col">

  <div class="container mx-auto flex flex-col py-16 gap-y-16">
    <section>
      <app-seccion-datos [titulo]="titulo1" [texto]="texto1" [urlImagen]="urlImg1"
        [posLeftImg]="posLeftImg1"></app-seccion-datos>
    </section>

    <section>
      <app-seccion-datos [titulo]="titulo2" [texto]="texto2" [urlImagen]="urlImg2"
        [posLeftImg]="posLeftImg2"></app-seccion-datos>
    </section>
  </div>

  <div class="bg-divider h-12">
  </div>


  <div class="bg-map_northrend bg-cover py-16">
    <section class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-14">
        <div class="col-span-1 md:col-span-2 mx-auto">
          <h2 class="text-gray-300 font-sans font-black text-3xl text-center">
            Elige la edición perfecta de World of Warcraft para ti
          </h2>
        </div>
        <app-edicion [urlImg]="imgEdRetail" [titulo]="tituloEdRetail" [listaCaracteristicas]="listaCaracEdRetail"
          [textoBoton]="textoBotonEdRetail"></app-edicion>
        <app-edicion [urlImg]="imgEdClassic" [titulo]="tituloEdClassic" [listaCaracteristicas]="listaCaracEdClassic"
          [textoBoton]="textoBotonEdClassic"></app-edicion>
      </div>
    </section>
  </div>

  <div class="bg-divider h-12">
  </div>


  <div class="bg-forest bg-cover py-16">
    <section class="container mx-auto">
      <app-gallery [listUrlsImgs]="listUrlsImgsMultimedia"></app-gallery>
    </section>
  </div>

  <div class="bg-divider h-12">
  </div>

  <div class="bg-backstone bg-cover pt-16">
    <section class="container mx-auto">
      <app-footer [bottomText]="textoDerechos"></app-footer>
    </section>
  </div>

</div>