<div class="container mx-auto flex flex-col gap-y-16 w-screen h-screen">
  <app-header></app-header>
  <!-- Contenido e información de la página -->
  <!-- Resumen -->
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-8 items-center">
      <div class="flex flex-col gap-8">
        <h1 class="text-gray-300 font-sans font-black text-3xl">¡Entra en el mundo de World of Warcraft y vive una
          aventura épica!</h1>
        <p class="text-gray-300 font-sans font-semibold text-lg">
          Con más de 15 años
          de
          historia,
          este juego de rol en
          línea masivo cuenta con una comunidad activa de jugadores de todo el mundo, una amplia variedad de razas y
          clases,
          y una historia épica que se desarrolla en un mundo de fantasía. ¡No pierdas la oportunidad de formar parte de
          esta
          aventura!
        </p>
      </div>
      <div><img class=" w-auto" src="../assets/screenshot_utgardekeep_full.webp"
          alt="captura de pantalla del videjuego World of Warcraft"></div>
    </div>
  </section>

  <hr>

  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-8 items-center">
      <div>
        <img class=" w-auto" src="../assets/screenshot_utgardekeep_full.webp"
          alt="captura de pantalla del videjuego World of Warcraft">
      </div>
      <div class="flex flex-col gap-8">
        <h1 class="text-gray-300 font-sans font-black text-3xl">
          Conoce las características clave de World of Warcraft y comienza tu aventura
        </h1>
        <p class="text-gray-300 font-sans font-semibold text-lg">
          Explora un mundo de fantasía épico con una variedad de razas y clases.
          Lucha contra criaturas poderosas y completa misiones épicas.
          Desarrolla tu personaje a medida que subes de nivel.
          Conecta con una comunidad activa de jugadores de todo el mundo.
          Descubre nuevos contenidos con actualizaciones regulares.
        </p>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-14">

      <div class="col-span-1 md:col-span-2 mx-auto">
        <h2 class="text-gray-300 font-sans font-black text-3xl">
          Elige la edición perfecta de World of Warcraft para ti
        </h2>
      </div>

      <div class="flex flex-col items-center">
        <img class="w-32 mb-5" src="../assets/world-of-warcraft.svg" alt="Retail">
        <h2 class="text-gray-300 font-sans font-black text-3xl">
          Edicion Retail
        </h2>
        <ul class="flex flex-col py-5 px-16 gap-5">
          <li class="text-gray-300 text-center">Juega con las nuevas clases como el Monje o Evocador
          </li>
          <li class="text-gray-300 text-center">Disfruta de contenido actualizado a la última expansión</li>
          <li class="text-gray-300 text-center">Gráficos y modelos mejorados</li>
          <li class="text-gray-300 text-center">Nuevas dificultades y mecánicas como mazmorras de dificultad mítica plus
          </li>
        </ul>
      </div>

      <div class="flex flex-col items-center">
        <img class="w-32 mb-5" src="../assets/world-of-warcraft.svg" alt="Classic">
        <h2 class="text-gray-300 font-sans font-black text-3xl">
          Edicion Classic
        </h2>
        <ul class="flex flex-col py-5 px-16 gap-5">
          <li class="text-gray-300 text-center">Recuerda el juego como se lanzó en 2004</li>
          <li class="text-gray-300 text-center">Toda la dificultad de antaño en los tiempos de ahora</li>
          <li class="text-gray-300 text-center">Más social e interactivo</li>
          <li class="text-gray-300 text-center">Mayor importancia en el progreso de nivel de personaje y mundo mas
            inmersivo</li>
        </ul>
      </div>

    </div>
  </section>

  <hr>

  <section>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 place-items-center">
      <img class="w-60 mb-5" src="../assets/cinematic_render_1.webp" alt="">
      <img class="w-60 mb-5" src="../assets/cinematic_render_2.webp" alt="">
      <img class="w-60 mb-5" src="../assets/cinematic_render_frostmourne_full.webp" alt="">
      <img class="w-60 mb-5" src="../assets/cinematic_render_scourge_full.webp" alt="">
      <img class="w-60 mb-5" src="../assets/screenshot_draktheron_full.webp" alt="">
      <img class="w-60 mb-5" src="../assets/screenshot_garden.webp" alt="">
      <img class="w-60 mb-5" src="../assets/screenshot_magma.webp" alt="">
      <img class="w-60 mb-5" src="../assets/screenshot_utgardekeep_full.webp" alt="">
    </div>
  </section>

  <hr>



</div>